<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event page</title>
    <link rel="stylesheet" href="oki.css">
</head>
<body>
    <header>
        <div class="logo"> <span>NEXT</span>TECH</div>
        <ul class="menu">
            <a href="#">Avis Clients</a>
            <a href="">Reservation</a>
        </ul>
    </header>

    <!-- home -->

    <section class="home">
        <div class="home-infos">
            <h1>Evenements les plus proches</h1>
            <p></p>
            <a href="#">Reser</a>
        </div>
    </section>

    <!-- services -->

    <section class="services">
        <h1 class="title">Nos evennements</h1>
        <p class="sub-title">Oces.</p>
        <div class="list-services">
            <div class="box">
                <h1>Marathon</h1>
                <img src="image3.jpg" alt="Service Image"> 
                <p class="box-text">From walk-in care, same-day appointments to online visits with OnCare, we’ll take good care of you. If you are experiencing an emergency</p>
            </div>
            <div class="box">
                <h1>Yoga</h1>
                <img src="image4.jpg" alt="Service Image"> 
                <p class="box-text">From walk-in care, same-day appointments to online visits with OnCare, we’ll take good care of you. If you are experiencing an emergency</p>
            </div>
            <div class="box">
                <h1>Siuuuu</h1>
                <img src="image3.jpg" alt="Service Image"> 
                <p class="box-text">From walk-in care, same-day appointments to online visits with OnCare, we’ll take good care of you. If you are experiencing an emergency</p>
            </div>
            <div class="box">
                <h1>khana</h1>
                <img src="image3.jpg" alt="Service Image"> 
                <p class="box-text">From walk-in care, same-day appointments to online visits with OnCare, we’ll take good care of you. If you are experiencing an emergency</p>
            </div>
            <div class="box">
                <h1>bd</h1>
                <img src="image3.jpg" alt="Service Image"> 
                <p class="box-text">From walk-in care, same-day appointments to online visits with OnCare, we’ll take good care of you. If you are experiencing an emergency</p>
            </div>
            <div class="box">
                <h1>fam</h1>
                <img src="image3.jpg" alt="Service Image"> 
                <p class="box-text">From walk-in care, same-day appointments to online visits with OnCare, we’ll take good care of you. If you are experiencing an emergency</p>
            </div>
         
        </div>
    </section>
    
    <!-- banner -->
    <section class="banner"></section>

    <!-- Our goal -->

    <section class="our-goal">
        <div class="left">
            <span></span>
            <h2>"Action is the foundational key to all success." - Pablo Picasso</h2>
            <br>
            <a href="#">BOOK AN Event</a>
        </div>
        <div class="right">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet asperiores enim aut voluptatum commodi fugit natus dicta neque nihil, ipsum eligendi ad et corporis omnis, voluptatibus accusantium ipsam eos magni.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id similique ea nemo sapiente eaque ab, eligendi voluptatum animi rem, temporibus ipsam dolore ipsa nam, tempore quos qui. Velit, quisquam in.</p>
        </div>
    </section>

    <!-- footer-contact -->

    <footer>
        <h1 class="title">let's contact</h1>
        <div class="contact">
            <div class="class-form">
                <h2>GET</h2>
                <h4>AVAILLABLE</h4>
        </div>  
    </footer>

    <div class="end">
    </div>
</body>
</html>
